/* Full Body Font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

body {
    margin-top: 52px;
    margin-left: 135px;
    margin-right: 135px;
}

/* Header Section */
.main-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 135px;
    margin-right: 135px;
}


nav img {
    width: 3.7rem;
    height: 3.5rem;
    margin-right: 16px;
}

nav h3 {
    margin-top: 0;
}

.nav-title span {
    color: #FF5400;
}

.nav-title-contain {
    display: flex;
}

nav ul {
    display: flex;

}

nav li a {
    text-decoration: none;
    text-align: center;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

nav li {
    list-style: none;
    margin-right: 44px;

}

nav ul li span {
    color: #FF5400;
}

.nav-title {
    font-size: 2.3rem;
    font-weight: 800;
}


/* Explore section */

.explore-container {
    /* background-image: url("/Images/group1.png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/Images/group1.png");
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: contain;
    width: 1170px;
    height: 500px;
    margin: auto;
    padding: 28.5px 80px;
    text-align: center;


}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 80px;
}

.explore-para {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    margin: 24px 247px;
}

.select-section {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 48px;
}

#where {
    padding: 0px 0px 0px 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 174px;
    height: 52px;

}

#when {
    padding: 16px 50px 16px 16px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    width: 174px;
    height: 52px;
}

.find-now {
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 34px;
    width: 174px;
    height: 52px;
}

/* popular tour section */

.popular-tour {
    margin-top: 100px;
    display: flex;
}

.popular {
    padding-right: 30px;
}

.popular-title {
    color: #131318;
    font-size: 2.6rem;
    font-weight: 800;
}

.popular-tour li,
.same-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding-right: 100px;
}

.popular-tour li {
    margin-bottom: 15px;
}

.read-more {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 10px;
}

/* Mobile Device Responsive */

@media screen and (max-width:600px) {
    body {
        margin-left: 20px;
        margin-right: 20px;
    }

    .main-nav {
        flex-direction: column;

    }

    .nav-title-contain {
        margin: auto;
    }

    .explore-container {
        background-position: center center;
        position: relative;
        background-size: cover;
        object-fit: cover;
        width: 335px;
        height: 483px;
    }

    .select-section {
        flex-direction: column;
        width: 287px;
        margin-top: 32px;
        justify-content: center;
        align-items: center;

    }

    .explore-title {
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: 10px;
    }

    .explore-para {
        font-size: 0.8rem;
        font-weight: 400;
        margin: 5px 16px;
    }

    #when {
        width: 260px;
    }

    #when {
        padding: 16px 50px 16px 16px;
    }

    #where {
        width: 248px;
    }

    .find-now {
        width: 260px;
    }

    .ul {
        margin-left: 80px;
        justify-content: space-around;
        margin-bottom: 40px;

    }

    nav ul li {

        margin-right: 10px;
    }

    .nav-title-contain {}

    .nav-title {

        margin-right: 0;
    }

    .popular-tour {
        flex-direction: column;
        padding: 0;
        width: 335px;
    }

    .popular {
        padding-right: 0;
        font-size: 14px;

    }

    .popular-tour li,
    .same-para {
        padding-right: 0;
        margin-left: 20px;
        margin-right: -140px;
    }

    .popular-title {
        margin-right: -20px;
        margin-left: 20px;
    }

    .pic-popular img {
        margin-top: 24px;
        position: relative;
        
        

        margin-right: 24px;
    }
}